/* Modal Overlay styling rule obtained from CreateEvent.css */

.modal-content {
    backdrop-filter: blur(5px);
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
