/* Modal Overlay styling rule obtained from CreateEvent.css */

.modal-content {
    backdrop-filter: blur(5px);
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
